@media screen and (max-width: 1000px){
    
    body, li{
        font-size: 36px;
    }
    
    h1{
        font-size: 36px; 
        line-height: 0.9em;
        color: #666;
    }
    
    h2{
        font-size: 40px;
    }
    
}